* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0 0 15px;
}

button {
    padding: 7px 15px;
    background: white;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

button:hover {
    background: #f3f3f3;
}

button:active {
    background: #dfdfdf;
}

.content-wrapper {
    padding: 20px;
    min-height: calc(100vh - 120px);
}

footer {
    padding: 20px;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    background: #f3f3f3;
}

footer p {
    margin: 0;
}

.footer-links > * {
    padding: 10px;
}